# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
asgiref==3.8.1
django==5.1.6
django-allauth==65.4.0
sqlparse==0.5.3
gunicorn==21.2.0
whitenoise==6.9.0
