<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        Chirper
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <header class="header">
        <div class="header__logo-title">
            <div class="header__logo"></div>
            <div class="header__title">
                {% block logo_text %}
                {% endblock %}
            </div>
        </div>
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <p class="footer__text">2025 Chirper Project. :)</p>
    </footer>
</body>

</html>