<!DOCTYPE html>
<html>

<head>
    <title>Add New Chirp</title>
    <style>
        .chirp-form {
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        textarea {
            width: 100%;
            min-height: 100px;
            resize: vertical;
        }

        .char-count {
            font-size: 0.8em;
            color: #666;
        }

        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div class="chirp-form">
        <h2>Add a New Chirp</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Chirp</button>
        </form>


    </div>
</body>

</html>