{% extends 'chirper/base.html' %}

{% block title %}
Chirper
{% endblock %}

{% block logo_text %}
<h1>Chirp Away</h1>
{% endblock %}

{% block content %}
<main class="main">
    <a href="{% url 'chirper:chirps' %}" class="chirp-form__button">Home</a>
    <a href="{% url 'chirper:my_profile' %}" class="chirp-form__button">My Profile</a>

    <div class="chirp-form">
        <h2>Add a New Chirp</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="chirp-form__button" type="submit">Create Chirp</button>
        </form>
    </div>
</main>
{% endblock %}