{% extends 'chirper/base.html' %}

{% block title %}
Chirper
{% endblock %}

{% block logo_text %}
<h1>Chirper</h1>
{% endblock %}

{% block content %}

<body>
    <main>
        <a href="{% url 'chirper:add_chirp' %}" class="nav-link">Add Chirp</a>
        <a href="{% url 'chirper:my_profile' %}" class="nav-link">My Profile</a>

        <br></br>

        {% if chirp_list %}
        <ul>
            {% for chirp in chirp_list %}
            <div class="post">
                <div class="chirp-form__user-info">
                    <div class="chirp-form__avatar"></div>

                    <div class="post__content-text">
                        <h3>Chirp by <a href="{% url 'chirper:profile' username=chirp.user %}">{{ chirp.user }}</a></h3>
                        <p>{{ chirp.body }}</p>
                        {% if chirp.likes.count == 1 %}
                        <p>{{ chirp.likes.count }} Like</p>
                        {% else %}
                        <p>{{ chirp.likes.count }} likes</p>
                        {% endif %}
                        <small>{{ chirp.date }}</small>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <form action="{% url 'chirper:toggle_like' chirp_id=chirp.id %}" method="post">
                    {% csrf_token %}
                    {% if request.user in chirp.likes.all %}
                    <button class="post__like-btn" type="submit">Unlike</button>
                    {% else %}
                    <button class="post__like-btn" type="submit">Like</button>
                    {% endif %}
                </form>
                {% endif %}

                <form action="{% url 'chirper:reply_chirp' chirp.id %}" method="get">
                    <button class="chirp-form__button" type="submit">Reply</button>
                </form>
            </div>
            {% endfor %}
        </ul>
        {% else %}
        <p>No chirps available.</p>
        {% endif %}
    </main>
</body>

{% endblock %}