{% extends 'chirper/base.html' %}

{% block title %}
Chirper
{% endblock %}

{% block logo_text %}
<h1>Profile</h1>
{% endblock %}

{% block content %}
<main class="main">
    <a href="{% url 'chirper:chirps' %}" class="chirp-form__button">Home</a>
    <a href="{% url 'chirper:add_chirp' %}" class="chirp-form__button">Add Chirp</a>

    <h1>{{ user.username }}</h1>
    <p>Bio: {{ profile.bio }}</p>

    {% if request.user.is_authenticated %}
    <form action="{% url 'chirper:toggle_follow' followed=user.username %}" method="post">
        {% csrf_token %}
        {% if is_following %}
        <button class="chirp-form__button" type="submit">Unfollow</button>
        {% else %}
        <button class="chirp-form__button" type="submit">Follow</button>
        {% endif %}
    </form>
    {% endif %}

    {% if request.user.is_authenticated and user == request.user %}
    <form action="{% url 'chirper:update_profile' %}" method="get">
        <button class="chirp-form__button" type="submit">Update Profile</button>
    </form>
    {% endif %}

    {% if user_chirp_list %}
    <ul>
        {% for chirp in user_chirp_list %}
        <li class="post">
            <p>{{ chirp.body }}</p>
            <small>Posted on: {{ chirp.date }}</small>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No chirps available.</p>
    {% endif %}
</main>
{% endblock %}